---
import Layout from '../layouts/Layout.astro';

interface Project {
  url: string;
  frontmatter: {
    title: string;
    type: string;
    image: string;
  };
}

const projects = Object.values(
  import.meta.glob<Project>('./projects/*.md', { eager: true }),
);
---

<Layout title='Home'>
  <section class='container mx-auto px-6 flex flex-col gap-4 py-32'>
    <h1 class='text-4xl font-medium'>
      I&apos;m Billy Bronco, a software engineer in Pomona, CA.
      <br />
      I create scalable, thoughtful, applications for startups.
    </h1>
    <p>
      Currently studying computer science at Cal Poly Pomona, graduating May
      2029.
    </p>
  </section>
  <section class='container mx-auto px-6 flex flex-col py-32 gap-8'>
    <p class='font-medium text-black/50'>Projects</p>
    <div class='grid grid-cols-1 md:grid-cols-3 gap-5'>
      <!-- project cards here -->
    </div>
  </section>
</Layout>
